@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom transitions and scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 20px;
}

.prose pre {
  margin: 0 !important;
  background-color: transparent !important;
}

.prose code {
  color: #a5b4fc !important;
  font-weight: 500 !important;
}
